<div class="game_area">
  <div class="stocks">
    <% @game.stocks.each do |stock| -%>
      <div class="stock">
        <%= render stock %>
      </div>
    <% end -%>
  </div>
  <div class="boards">
    <% @game.players_reversed_with_current_last.each do |player| -%>
      <div class="board_and_influence">
        <div class="board" data-player_id="<%= player.id %>">
          <div class="board_scores">
            <%= "[#{player}]" %>
            <table class="resource_counts">
              <% player.resource_counts.each do |resource, count| -%>
                <tr>
                  <td class="<%= color_class(resource) %>"><%= resource %></td>
                  <td class="numeric"><%= count %></td>
                </tr>
              <% end -%>
            </table>
            <div class="influences">
              <span class="show_influence_cards">
                <%= "[影響] #{player.influence_point(@game)}" %>
              </span>
            </div>
          </div>
          <div class="board_cards">
            <% player.boards_for(@game).each do |board| -%>
              <%= render board %>
            <% end -%>
          </div>
        </div>
        <div class="influence_cards" hidden>
          <% player.influence_for(@game).cards.each do |card| -%>
            <div class="influence_card">
              <%= render card %>
            </div>
          <% end -%>
        </div>
      </div>
    <% end -%>
  </div>
  <div class="hands">
    <% @game.players_reversed_with_current_last.each do |player| -%>
      <% is_current = player == @game.current_player -%>
      <div class="hand_player" >
        <span class="show_hand">
          <%= "[#{player}]" %>
        </span>
      </div>
      <div class="hand_cards <%= is_current ? '' : 'non_current' %>" <%= is_current ? '' : 'hidden' %>>
        <% player.cards_in_hand(@game).each do |card| -%>
          <div class="hand_card">
            <%= render card %>
          </div>
        <% end -%>
        <% if is_current -%>
          <div class="actions">
            <%= link_to '=>', end_turn_game_path(@game) %>
          </div>
        <% end -%>
      </div>
    <% end -%>
  </div>
</div>
