<div class="game_area">
  <div id="screen_top_area">
    <div id="link_to_root">
      <%= link_to '^', games_path %>
    </div>
    <div class="stocks">
      <% @game.stocks.each do |stock| -%>
        <div class="stock">
          <%= render stock %>
        </div>
      <% end -%>
    </div>
    <div id="link_to_cards_index">
      <%= link_to '□', cards_path, target: '_blank' %>
    </div>
  </div>
  <div class="boards">
    <% @game.players_reversed_with_current_last.each do |player| -%>
      <% is_current = player == @game.current_player
         is_turn    = player == @game.turn_player
         influence_cards = player.influence_for(@game).cards -%>
      <div class="board_and_influence">
        <div class="board <%= is_turn ? '' : 'non_turn' %> <%= is_current ? 'current' : '' %>">
          <div class="board_scores">
            <div>
              <span class="player_name <%= is_turn ? 'turn' : '' %>">
                <%= "[#{player}]" %>
              </span>
              <span class="max_age_on_boards">
                <%= player.max_age_on_boards(@game) %>
              </span>
              <% if is_current -%>
                <span class="button_to_show_board_info">
                  <%= link_to '!', board_info_game_path(@game), remote: true %>
                </span>
              <% end -%>
            </div>
            <table class="resource_counts">
              <% Resource.all.each do |resource| -%>
                <% count = player.resource_counts(@game)[resource] || 0 -%>
                <tr>
                  <td class="<%= color_class(resource) %>"><%= resource %></td>
                  <td class="numeric"><%= count %></td>
                </tr>
              <% end -%>
            </table>
            <div class="influences">
              <div>
                <span class="show_influence_cards">
                  <%= "[影響] #{player.influence_point(@game)} (#{influence_cards.size})" %>
                </span>
              </div>
              <div>
                <%= player.influence_for(@game).cards.map(&:age).map(&:level).sort.join(' ') %>
              </div>
            </div>
            <div class="player_conquests">
              <div>[制覇]</div>
              <div><%=      age_conquests(player) %></div>
              <div><%= category_conquests(player) %></div>
            </div>
          </div>
          <div class="board_card_piles">
            <%= render player.boards_for(@game) %>
          </div>
        </div>
        <div class="influence_cards" hidden>
          <% influence_cards.each do |card| -%>
            <div class="influence_card">
              <%= render card %>
            </div>
          <% end -%>
        </div>
      </div>
    <% end -%>
  </div>
  <div class="hands">
    <% @game.players_reversed_with_current_last.each do |player| -%>
      <% is_current = player == @game.current_player
         is_turn    = player == @game.turn_player
         hand_cards = player.cards_in_hand(@game) -%>
      <div class="hand">
        <div class="hand_cards_and_actions">
          <div class="hand_player">
            <span class="show_hand player_name <%= is_turn ? 'turn' : '' %>">
              <%= "[#{player}](#{hand_cards.size})" %>
            </span>
          </div>
          <div class="hand_cards <%= is_turn ? '' : 'non_turn' %>" <%= is_current ? '' : 'hidden' %>>
            <% hand_cards.each do |card| -%>
              <div class="hand_card">
                <%= render card %>
              </div>
            <% end -%>
          </div>
          <% if is_turn && is_current -%>
            <div class="hand_actions">
              <%= button_to '=>', end_action_game_path(@game), method: :get %>
              <%= " (#{@game.num_actions_left} left)" %>
              <%= button_to '+', increment_action_game_path(@game), method: :get,
                    disabled: @game.num_actions_left >= 2 %>
              <%= button_to 'undo', undo_game_path(@game), method: :get, id: 'undo_button',
                    disabled: !@game.undo_statement %>
              <%= link_to '<o>', action_options_game_path(@game), method: :get, remote: true,
                    id: 'action_options_link' %>
              <span id="clear_action_options">[c]</span>
            </div>
          <% end -%>
        </div>
      </div>
    <% end -%>
  </div>
  <div class="actions_and_conquests">
    <div class="game_actions">
      <div class="game_links">
        <span id="switch_player">
          <%= link_to '->', switch_player_game_path(@game)  %>
        </span>
        <span id="to_turn_player">
          <%= link_to '^', to_turn_player_game_path(@game)  %>
        </span>
      </div>
      <div class="game_assistants">
        <div id= "game_assisting_command_result"></div>
        <%= text_field_tag :command, nil, id: 'game_assisting_command_text' %>
        <%= button_tag '実行', type: :button, id: 'game_assisting_command_submit' %>
      </div>
    </div>
    <div class="conquests">
      <span id="toggle_conquests">[+]</span>
      <div>
        <div hidden>
          <%= @game.undo_statement %>
        </div>
        <div id="action_options">
          <%= action_options_display(@game.action_options) %>
        </div>
      </div>
      <div class="button_area" hidden>
        <div class="age_conquests">
          <% Age.order(:level).each do |age| -%>
            <div class="age_conquest">
              <%= button_to age, conquer_game_path(@game, target_type: :Age, target_id: age),
                    disabled: @game.conquered?(age) %>
            </div>
          <% end -%>
        </div>
        <table class="category_conquests">
          <% Category.all.each do |category| -%>
            <tr>
              <td class="col1">
                <%= button_to category.name,
                      conquer_game_path(@game, target_type: :Category, target_id: category),
                      disabled: @game.conquered?(category)%>
              </td>
              <td class="col2">
                <%= category.condition %>
              </td>
              <td class="col3">
                <%= category.note %>
              </td>
            </tr>
          <% end -%>
        </table>
      </div>
    </div>
  </div>
</div>
