<div class="game_area">
  <div class="stocks">
    <% @game.stocks.each do |stock| -%>
      <div class="stock">
        <%= render stock %>
      </div>
    <% end -%>
  </div>
  <div class="boards">
    <% @game.players_reversed_with_current_last.each do |player| -%>
      <div class="board" data-player_id="<%= player.id %>">
        <div class="board_player">
          <%= player %>
        </div>
        <div class="board_cards">
          <% player.boards_for(@game).each do |board| -%>
            <%= board.cards.first %>
          <% end -%>
        </div>
      </div>
    <% end -%>
  </div>
  <div class="hand">
    <div class="hand_player">
      <%= @game.current_player %>
    </div>
    <div class="hand_cards">
      <% @game.current_player.hand_for(@game).cards.each do |card| -%>
        <div class="hand_card">
          <%= render card %>
        </div>
      <% end -%>
    </div>
  </div>
</div>
