<div class="game_area">
  <div id="screen_top_area">
    <div id="link_to_root">
      <%= link_to '^', games_path %>
    </div>
    <div class="stocks">
      <% @game.stocks.each do |stock| -%>
        <div class="stock">
          <%= render stock %>
        </div>
      <% end -%>
    </div>
  </div>
  <div class="boards">
    <% @game.players_reversed_with_current_last.each do |player| -%>
      <% is_current = player == @game.current_player
         is_turn    = player == @game.turn_player -%>
      <div class="board_and_influence">
        <div class="board <%= is_turn ? '' : 'non_turn' %>">
          <div class="board_scores">
            <span class="player_name <%= is_turn ? 'turn' : '' %>">
              <%= "[#{player}]" %>
            </span>
            <table class="resource_counts">
              <% Resource.all.each do |resource| -%>
                <% count = player.resource_counts(@game)[resource] || 0 -%>
                <tr>
                  <td class="<%= color_class(resource) %>"><%= resource %></td>
                  <td class="numeric"><%= count %></td>
                </tr>
              <% end -%>
            </table>
            <div class="influences">
              <span class="show_influence_cards">
                <%= "[影響] #{player.influence_point(@game)}" %>
              </span>
            </div>
            <div class="player_conquests">
              <div>[制覇]</div>
              <div><%=      age_conquests(player) %></div>
              <div><%= category_conquests(player) %></div>
            </div>
          </div>
          <div class="board_card_piles">
            <% player.boards_for(@game).each do |board| -%>
              <%= render board %>
            <% end -%>
          </div>
        </div>
        <div class="influence_cards" hidden>
          <% player.influence_for(@game).cards.each do |card| -%>
            <div class="influence_card">
              <%= render card %>
            </div>
          <% end -%>
        </div>
      </div>
    <% end -%>
  </div>
  <div class="hands">
    <% @game.players_reversed_with_current_last.each do |player| -%>
      <% is_current = player == @game.current_player
         is_turn    = player == @game.turn_player
         hand_cards = player.cards_in_hand(@game) -%>
      <div class="hand">
        <div class="hand_player">
          <span class="show_hand player_name <%= is_turn ? 'turn' : '' %>">
            <%= "[#{player}](#{hand_cards.size})" %>
          </span>
        </div>
        <div class="hand_cards <%= is_turn ? '' : 'non_turn' %>" <%= is_current ? '' : 'hidden' %>>
          <% hand_cards.each do |card| -%>
            <div class="hand_card">
              <%= render card %>
            </div>
          <% end -%>
          <% if is_turn -%>
            <div class="hand_actions">
              <%= link_to '=>', end_action_game_path(@game) %>
              <%= " (#{@game.num_actions_left} left)" %>
            </div>
          <% end -%>
        </div>
      </div>
    <% end -%>
  </div>
  <div class="actions_and_conquests">
    <div class="game_actions">
      <div class="game_links">
        <span id="switch_player">
          <%= link_to '->', switch_player_game_path(@game)  %>
        </span>
        <span id="to_turn_player">
          <%= link_to '^', to_turn_player_game_path(@game)  %>
        </span>
      </div>
      <div class="game_assistants">
        <div id= "game_assisting_command_result"></div>
        <%= text_field_tag :command, nil, id: 'game_assisting_command_text' %>
        <%= button_tag '実行', type: :button, id: 'game_assisting_command_submit' %>
      </div>
    </div>
    <div class="conquests">
      <span id="toggle_conquests">[+]</span>
      <div class="button_area" hidden>
        <div class="age_conquests">
          <% Age.order(:level).each do |age| -%>
            <div class="age_conquest">
              <%= button_to age, conquer_game_path(@game, target_type: :Age, target_id: age),
                    disabled: @game.conquered?(age) %>
            </div>
          <% end -%>
        </div>
        <table class="category_conquests">
          <% Category.all.each do |category| -%>
            <tr>
              <td class="col1">
                <%= button_to category.name,
                      conquer_game_path(@game, target_type: :Category, target_id: category),
                      disabled: @game.conquered?(category)%>
              </td>
              <td class="col2">
                <%= category.condition %>
              </td>
              <td class="col3">
                <%= category.note %>
              </td>
            </tr>
          <% end -%>
        </table>
      </div>
    </div>
  </div>
</div>
