<div class="card">
  <div class="card_top">
    <%= card_resource_in_div(card, Card::POS_LT) %>
    <div class="color_mark <%= color_class(card, force: true) %>"></div>
    <div class="card_title <%= color_class(card) %>">
      <%= card.title %>
    </div>
  </div>
  <div class="card_effect">
    <%= card_effects_display(card) %>
  </div>
  <div class="card_bottom">
    <% Card::POSITIONS_AT_BOTTOM.each do |pos| -%>
      <%= card_resource_in_div(card, pos) %>
    <% end -%>
  </div>
  <div class="card_actions" hidden>
    <% case card.card_list(@game) -%>
    <% when Hand -%>
      <div class="card_action">
        <%= link_to '場', play_game_path(@game, card_id: card) %>
      </div>
      <div class="card_action">
        <%= link_to '再生', reuse_game_path(@game, card_id: card) %>
      </div>
      <div class="card_action">
        <%= link_to '得点', score_game_path(@game, card_id: card) %>
      </div>
      <div class="card_action">
        <%= link_to '譲渡', offer_game_path(@game, card_id: card) %>
      </div>
    <% when Board -%>
      <div class="card_action">
        <%= link_to '左' %>
      </div>
      <div class="card_action">
        <%= link_to '右' %>
      </div>
      <div class="card_action">
        <%= link_to '上' %>
      </div>
      <div class="card_action">
        <%= link_to '譲渡', offer_game_path(@game, card_id: card) %>
      </div>
    <% end -%>
  </div>
</div>
