<div class="card">
  <div class="card_top">
    <%= card_resource_in_div(card, Card::POS_LT) %>
    <div class="card_title <%= color_class(card) %>">
      <%= card.title %>
    </div>
  </div>
  <div class="card_effect">
    <%= card_effects_display(card) %>
  </div>
  <div class="card_bottom">
    <% Card::POSITIONS_AT_BOTTOM.each do |pos| -%>
      <%= card_resource_in_div(card, pos) %>
    <% end -%>
  </div>
</div>
