<table class="table_base">
  <% @cards.each do |card| -%>
    <tr>
      <td class="<%= card.color.name_eng %>">
        <%= card.age.level %>
      </td>
      <td><%= card.title %></td>
      <% Card::POSITIONS.each do |pos| -%>
        <% resource = card.resource_at(pos) %>
        <td class="<%= resource&.color&.name_eng %>">
          <%= resource %>
        </td>
      <% end -%>
      <td><%= card_effects_display(card) %></td>
    </tr>
  <% end -%>
</table>
