<table id="card_list" class="table_base">
  <% @cards.each do |card| -%>
    <tr>
      <td class="<%= color_class(card) %>">
        <%= card.age.level %>
      </td>
      <td class="card_title">
        <%= link_to card.title, card %>
      </td>
      <% Card::POSITIONS.each do |pos| -%>
        <% resource = card.resource_at(pos) %>
        <td class="<%= color_class(resource) %>">
          <%= resource %>
        </td>
      <% end -%>
      <td><%= card_effects_display(card) %></td>
    </tr>
  <% end -%>
</table>
